.App{
  text-align: center;
}

.singer-first {
  background-color: #0920a6; 
}

.singer-second {
  background-color: #940a0a; 
}

.singer-third {
  background-color: #045314; 
}

.singer-fourth {
  background-color: #09748a; 
}

.singerbox {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.firstcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.secondcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.lineContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48em;
  height: 32em;
  border: 4px solid #8e8b8b;
  border-radius: 1em;
}

.textbox {
  width: 700px;
  height: 55px;
  margin-top: 15px auto;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 3px solid #000000;
  font-size: large;
}

.thelyrics{
  display: inline-flex;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  border: 3px solid;
}




